/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --page-background-image: url(../images/cover-image-dark.png);
  --decorative-text-display-value: initial;
  --decorated-zone-color: #ff0070;
  --theme-menu-color: #ff0070;
  --theme-menu-color-hover: rgba(255 0 112 / 40%);
  --title-color: #db00ff;
  --main-section-heading: #ff0070;
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --title-decor-text-color: #000028;
  --background-color: #000028;
}