/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  font-family: var(--main-font);
  font-size: var(--page-font-size);
  background-color: var(--background-color);
  background-image: var(--page-background-image);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

/* header */

.header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content 1fr;
  padding: var(--header-inline-padding);
  block-size: 100vh;
  min-block-size: 668px;
}

.decorative-text {
  position: absolute;
  inset: var(--decorative-text-inset) auto auto;
  display: var(--decorative-text-display-value);
  color: var(--accent-color);
  font-size: 18px;
  text-transform: uppercase;
}

.decorative-text::after {
  content: '';
  display: inline-block;
  margin-left: 10px;
  border-radius: 50%;
  box-shadow: var(--accent-color) 0 0 4px 2px;
  background-color: var(--accent-color);
  inline-size: 9px;
  block-size: 9px;
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inset: auto auto var(--decorated-zone-inset);
  display: block;
  border-bottom: solid 1px var(--decorated-zone-color);
  border-left: solid 1px var(--decorated-zone-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inset: var(--decorated-zone-inset) auto auto;
  display: block;
  border-top: solid 1px var(--decorated-zone-color);
  border-right: solid 1px var(--decorated-zone-color);
  inline-size: 25px;
  block-size: 25px;
}

@media (width >= 768px) {
  :root {
    --decorative-text-inset: 20px 29px;
    --decorated-zone-inset: 20px 20px;
    --header-inline-padding: 0 20px 0 0;
  }
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
  padding-top: 10px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  border: solid 1px transparent;
  padding: 1.5px 13px;
  color: var(--theme-menu-color);
  font-size: 1.125rem;
  line-height: 1em;
  text-transform: lowercase;
  background-color: transparent;
  inline-size: 4.375rem;
  block-size: 1.625rem;
}

.header__theme-menu-button:hover {
  border: solid 1px var(--theme-menu-color-hover);
}

.header__theme-menu-button:focus-visible {
  border-bottom: solid 1px var(--theme-menu-color);
  outline: none;
}

.header__theme-menu-button_active {
  box-sizing: border-box;
  border: solid 1px var(--theme-menu-color);
  pointer-events: none;
}

.header__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 4px 4px 0 var(--accent-color);
}

.header__subtitle {
  align-self: center;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 1.125em;
}

@media (width >= 768px) {
  .header {
    grid-template-columns: 1fr 1fr;
  }

  .header__theme-menu,
  .header__title {
    grid-column: 1 / -1;
  }

  .header__theme-menu {
    margin-top: 10px;
  }

  .header__subtitle {
    grid-column: 2;
    margin: 0 0 20px 10px;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: self-start;
    margin-left: 20px;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }

  .header__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}

/* секция main */

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: var(--main-inline-padding);
  inline-size: 100%;
  block-size: min-content;
}

.main__section {
  display: grid;
  gap: 20px;
  font-size: 1.125em;
  line-height: 1.3em;
}

.main__section_heading {
  color: var(--main-section-heading);
  font-weight: bold;
  font-size: inherit;
  line-height: inherit;
}

.main__section_wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.main__card-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__card_heading {
  font-size: inherit;
  line-height: inherit;;
}

h4.main__card_heading {
  font-weight: normal;
}

.main__card_text {
  color: var(--main-text-color);
  font-weight: normal;
  font-size: inherit;
  line-height: inherit;
}

.main__link {
  text-decoration: none;
  text-shadow: 2px 2px var(--accent-color);
}

.main__link:hover {
  border-bottom: solid 1px currentColor;
}

.main__link:focus-visible {
  outline: solid 1px var(--main-text-color);
}

.main__section_image-gallery {
  gap: 10px;
}

.image-gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 
  minmax(142px, max-content)
  minmax(355px, max-content) 
  minmax(237px, max-content)
  minmax(355px, max-content)
  minmax(237px, max-content);
  gap: 10px;
}

.image-gallery_image {
  object-fit: contain;
  inline-size: 100%;
  block-size: 100%;
}

@media (width >= 768px) {
  :root {
    --main-inline-padding: 60px 20px;
  }

  .main {
    gap: 80px;
  }

  .main__section {
    grid-template-columns: 1fr 2fr;
  }

  .main__section-unique-layout .main__card-list {
    grid-column: 1 / -1;
  }

  .main__section_heading {
    grid-row: 1 / -1;
  }

  .main__section_image-gallery {
    gap: 20px;
  }

  .main__section_image-gallery .main__section_heading {
    grid-column: 1 / -1;
  }

  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:
    minmax(192px, max-content)
    minmax(230px, max-content)
    minmax(318px, max-content);
    grid-template-areas:
    "sunset sunset ice-cream"
    "tape books ice-cream"
    "tape street street";
    grid-column: 1 / -1;
    gap: 20px;
  }

  .image-gallery_image {
    object-fit: cover;
  }

  .sunset {
    grid-area: sunset;
  }

  .ice-cream {
    grid-area: ice-cream;
  }

  .tape {
    grid-area: tape;
  }

  .books {
    grid-area: books;
  }

  .street {
    grid-area: street;
  }
}

@media (width >= 1024px) {
  .main__section {
    grid-template-columns: 0.97fr 2fr;
  }

  .main__section-unique-layout .main__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* футер */

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
}

.footer__title {
  color: var(--title-color);
  font-weight: bold;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.title-decor {
  color: var(--title-decor-text-color);
  background-color: var(--accent-color);
  block-size: min-content;
}

@media (width >= 1024px) {
  .footer__title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }
}
