/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --page-background-image: url(../images/cover-image-dark.png);
  --main-font: 'IBM Plex mono', sans-serif;
  --page-font-size: 16px;
  --title-color: #db00ff;
  --main-text-color: #f1b2ce;
  --accent-color: #ff0070;
  --background-color: #000028;
}